/* CSS for a single tweet */
@media (min-width: 1080px) {
  .tweet-list {
    width: 40%;
    margin: 0 auto;
  }
}

.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet {
  display: flex;
  align-items: flex-start;
  margin: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.tweet-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.tweet-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-username {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

@media (min-width: 1080px) {
  .tweet-text {
    font-size: 1vw;
  }
}

@media (max-width: 1079px) {
  .tweet-text {
    font-size: 4vw;
  }
}

/* Use the vw unit to make the font size scale based on the display size */
.tweet-text {
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  max-width: 100%;
  max-height: 100%;
  /* text-align: center; */
}

/* Scale and center the image within the tweet-text element while maintaining its aspect ratio */
.tweet-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}